// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui.scss";

// Temp fix for reactstrap
@import "~@coreui/coreui/scss/_dropdown-menu-right.scss";

// If you want to add something do it here
@import "custom";

// ie fixes
@import "ie-fix";
.btn-primary .btn-primary.disabled {
  background: #0099db;
  border-color: #0099db;
}
.btn-primary:hover {
  background: #035eaa;
  border-color: #035eaa;
}
.sidebar {
  /*background-color: #d79961;*/
  /*background: #0092ff;*/
  background: #004c9e;
  background-color: #009cde;
  background-image: radial-gradient(
    circle farthest-side at center top,
    #009cde,
    #003087 125%
  );
  color: #fff;
}
.app-header {
  border: none;
}
.navbar {
  /*background-color: #004253;*/
  background: #205492;
  color: #fff;
  background-color: #009cde;
  background-image: radial-gradient(
    circle farthest-side at center bottom,
    #009cde,
    #003087 125%
  );
}

.sidebar .nav-link.active {
  color: #fff;
  background: #62a0e8;
}
.sidebar .nav-link.active .nav-icon {
  color: #fff !important;
}
.sidebar .nav-link:hover {
  color: #fff;
  background: #62a0e8;
}
.sidebar .nav-link .nav-icon {
  color: #fff;
}
.sidebar .nav-link:hover .nav-icon {
  color: #fff;
}
body {
  background-color: #fff;
}

.breadcrumb {
  background-color: #f0f3f5;
}
.breadcrumb a {
  color: black;
  text-decoration: none;
}
.mainContainer {
  margin: auto;
  width: 100%;
  border: 1px solid #eee;
  /*box-shadow: 1px 0px 5px 3px rgba(0, 0, 0, 0.1);*/
  min-height: 150px;
  position: relative;
  padding-left: 74px;
  padding-right: 20px;
  text-align: left;
  overflow: hidden;
  text-align: center;
}
.rest-form-li {
  list-style-type: none;
}
.color-success {
  color: green;
}
.color-error {
  color: red !important;
}
.postBtn {
  display: none;
}
.testCard {
  width: 75% !important;
}
.divpro {
  padding-top: 20px;
}
.pull-right {
  text-align: right;
}
.app-tile {
  text-align: center;
  display: inline;
  padding: 10px;
}
.caption {
  padding: 10px;
  display: block;
  font-size: 1.2rem;
}
.app-tile img {
  margin: auto;
  display: block;
  width: 100px;
  height: 90px;
  position: relative;
  margin-top: 15%;
}
.app-tile :hover {
  box-shadow: 1px 0px 5px 3px rgba(0, 0, 0, 0.1);
}
.app-tile span:hover {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  text-decoration: none;
}
.app-tile a:hover {
  text-decoration: none;
}
.app-tile img:hover {
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}
.my-apps {
  border: 1px solid #c8ced3;
  min-height: 200px;
  width: 300px;
  position: relative;
}
.nav-tabs .nav-link.active {
  background-color: #f0f3f5;
}
.padding-right {
  padding-right: 10px;
}
.text-align-left {
  text-align: left;
  padding-left: 3px;
}
.text-align-right {
  text-align: right;
  padding-right: 3px;
}
.div-margin {
  margin: 20px;
}
.div-padding {
  padding-left: 15px;
}

.spinner {
  position: absolute;
  top: 30%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 75px;
  height: 75px;
  z-index: 1000;
}
​ .wizard-card {
  cursor: default;
  background: #62a0e8;
  text-transform: uppercase;
  font-family: "Lucida Console";
  align-items: center;
  color: #fff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: inline-flex;
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
  vertical-align: middle;
  margin: 0 10px 0 0;
}
.accordion__button {
  background-color: #f0f3f5;
}
.table th {
  background-color: #f0f3f5;
}
.qr-img {
  height: 450px;
  width: 450px;
}
/*###Desktops, big landscape tablets and laptops(Large, Extra large)####*/
@media screen and (min-width: 1024px) {
  .reset-form {
    width: 50%;
  }
  .testCard {
    width: 75% !important;
  }
  .app-tile :hover {
    box-shadow: 1px 0px 5px 3px rgba(0, 0, 0, 0.2);
  }
}

/*###Tablet(medium)###*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .reset-form {
    width: 60%;
  }
  .testCard {
    width: 90% !important;
  }
  .app-tile :hover {
    box-shadow: 1px 0px 5px 3px rgba(0, 0, 0, 0.2);
  }
  .col-xl-10 {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .qr-img {
    height: 400px;
    width: 400px;
  }
}

/*### Smartphones (portrait and landscape)(small)### */
@media screen and (min-width: 0px) and (max-width: 767px) {
  .reset-form {
    width: 90%;
  }
  .testCard {
    width: 90% !important;
  }
  .app-tile :hover {
    box-shadow: 1px 0px 5px 3px rgba(0, 0, 0, 0.2);
  }
  .remove-label:span {
    display: none;
  }
  .col-xl-10 {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .qr-img {
    height: 375px;
    width: 375px;
  }
}
